*{	
	padding:0;
	margin:0;
	box-sizing:border-box;
}


/*Estilos para el boton de inicio de sesion */
.entrar{
	margin-top:10px;
	margin-left: 5px;

}

/*Fin*/

body{
	padding-top: 70px;
	background-size: 100%;
}


/*Estilos para el pie de pagina*/

.pie{
	position: fixed;
	bottom: 0;
}


/*estilo para el contenedor del modal login*/
.contenedor-registro{
	width: 95%;
	min-width: 280px;
	max-width: 350px;
	margin: 50px auto;
	background: #fff;
	padding-bottom: 10px;
	border: 1px solid #337AB7;
	border-radius: 5px;

}

/*estilo para en encabezado del modal para el login*/
.contenedor-header{

}


.login{
		width: 100%;
		min-width: 240px;
		max-width: 350px;
		background: #fff;
		padding-bottom: 10px;
		border-radius: 5px;
		
	}


/*Estilos para el slideshow*/
.slideIMG{
	margin:0 auto;
	width: 70%;
	min-height: 200px;
	max-height: 500px;
}

.caruselIMG{
	margin:0 auto;
}
/*Fin*/


/*estilos para el logo en el encabezado vista de afuera*/
#logo{
	margin-left: 20px;
	margin-right: 10px;
	height: 50px;
	width: 50px;
}

/*estilos para el logo en el encabezado vista de adentro*/
#logo_inside{
	margin-left: 5px;
	margin-right: 5px;
	height: 50px;
	width: 50px;
}

/* estilo para el logo en la vista de afuera*/
#content_log{
	margin: 0;
	padding: 0;
}

/*Fin*/



/*Estilo para barra de menu*/
#barra{
	background-color: #053D70;
}



/*Estilo para el pie de pagina*/
.pie{
	z-index: 5;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 8px;
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 50px;
	background-color: #0071C1;	
}


/*Color para los textos del menu de navegacion*/
#menu-text{
	color: #fff;
}


/*Estilos para el contenedor de datos de los registros*/
	.contenedor{
		margin-top: 50px;
	}

	.dataPanel{
		overflow-x: auto;
		margin-top: 5px;
		padding-bottom: 14px; 
	}
/*Fin*/


/*Estilo a los badge de bootstrap*/
.ico-badge{
		background-color: rgba(70,239,131,0.72);
		box-sizing: border-box;
		font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
		font-size: 11px;
		padding: 0px 6px;
		float: right;
		margin-top: 5px;
		margin-bottom: 5px;
		margin-left: 3px;
		margin-right: 19px;
	}
/*Fin*/
