*{	
	padding:0;
	margin:0;
	box-sizing:border-box;
}


/*Estilos para el boton de inicio de sesion */
.entrar{
	margin-top:10px;
	margin-left: 5px;

}

/*Fin*/

body{
	padding-top: 70px;
	background-size: 100%;
}


/*Estilos para el pie de pagina*/

.pie{
	position: fixed;
	bottom: 0;
}


/*estilo para el contenedor del modal login*/
.contenedor-registro{
	width: 95%;
	min-width: 280px;
	max-width: 350px;
	margin: 50px auto;
	background: #fff;
	padding-bottom: 10px;
	border: 1px solid #337AB7;
	border-radius: 5px;

}

/*estilo para en encabezado del modal para el login*/
.contenedor-header{

}


.login{
		width: 100%;
		min-width: 240px;
		max-width: 350px;
		background: #fff;
		padding-bottom: 10px;
		border-radius: 5px;
		
	}


/*Estilos para el slideshow*/
.slideIMG{
	margin:0 auto;
	width: 70%;
	min-height: 200px;
	max-height: 500px;
}

.caruselIMG{
	margin:0 auto;
}
/*Fin*/


/*estilos para el logo en el encabezado*/
#logo{
	margin-left: 20px;
	margin-right: 10px;
	height: 50px;
	width: 50px;
}

#content_log{
	margin: 0;
	padding: 0;
}

/*Fin*/

/*Estilo para barra de menu*/
#barra{
	background-color: #053D70;
}

#btn-menu{
	background-color: #fff;
	color: #000;
}

/*Estilo para el pie de pagina*/
.pie{
	z-index: 5;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 8px;
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 50px;
	background-color: #0071C1;	
}
